@page "/"
@model mattaudio.Pages.Tracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your Songs</h1>

<form>
    <p>
        <input class="searchbox" type="text" asp-for="SearchString" placeholder="Search"/>
    </p>
</form>
<div class="d-flex flex-row flex-wrap">
    @foreach (var item in Model.Track)
    {
        <figure class="figure mr-auto">
            <iframe id="player-@item.VideoID" src="https://www.youtube.com/embed/@item.VideoID?enablejsapi=1" frameborder="0"></iframe>
            <figcaption class="figure-caption">@Html.DisplayFor(modelItem => item.Title)</figcaption>
            <figcaption class="figure-caption-player">@Html.DisplayFor(modelItem => item.Artist)</figcaption>
            <a class="figure-caption-player" asp-page="./Edit" asp-route-id="@item.TrackID"><span class="material-icons">edit</span></a>
            <a class="figure-caption-player" asp-page="./Delete" asp-route-id="@item.TrackID"><span class="material-icons">delete</span></a>
        </figure>
    }
</div>
@section Scripts {
    <script type="text/javascript">
        @foreach (var item in Model.Track)
        {
            <text>
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                function onYouTubeIframeAPIReady()
                {
                    var player;
                    player =  new YT.Player('player-@item.VideoID', {
                    height: '200',
                    width: '200'
                    });
                };
            </text>
        }
        
    </script>
}